extends ../layout/main-layout.pug
block content
    div(style="margin:5rem;")
        h1.text-center.display-3 #{pagetitle}
        main.d-flex.justify-content-center.row(style="display: flex;")
            if pro.length > 0
                each product in pro
                    .col-md-3.text-center.card(style="width:18rem;margin:1rem")
                        .card-body
                            h4.card-title #{product.title}
                            img.card-img-top.img-thumbnail.mb-3(src=product.imgurl, alt="")
                            h5.card-title #{product.price}
                            p.card-text #{product.desc}
                            form(action="/cart", method="post")
                                button.btn.btn-dark.m-3(type="submit") Add to Cart
                                input(type="hidden", name="proid",value=product.id)
            else
                h1.display-3.text-center No Products
            